@model Daidan.Web.Models.MonthSummaryByTruckViewModel
@{
	ViewBag.Title = "Month Summary - By Truck";
}

<style type="text/css">
	.table-header-row {
		background-color: #EBEBEB;
		height: 35px;
		font-weight: bold;
	}

	.table-bordered tbody td{
		text-align: center;
	}
</style>
<div class="print-area">
	<h2>Month Summary - By Truck [@Model.Month.ToString("MMMM yyyy")]</h2>
	<hr />
	<div class="row hide-print">
		<div class="col-lg-11">&nbsp;</div>
		<div class="col-lg-1">
			<button id="printButton" class="btn btn-default" style="margin: 0px 35px 10px 0px;">
				<i class="fa fa-print"></i>
				&nbsp;
				Print
			</button>
		</div>
	</div>

	<table border="1" class="table-responsive table-bordered" style="width: 100%;">
		<thead>
			<tr class="table-header-row">
				<th style="text-align: center;" width="30">&nbsp;</th>
				<th style="text-align: center;" width="85">Truck</th>
				<th style="text-align: center;" width="100">Nof. Trips</th>
				<th style="text-align: center;" width="100">Profit</th>
				<th style="text-align: center;" width="100">Expenses</th>
				<th style="text-align: center;" width="100">Result</th>
			</tr>
		</thead>
		<tbody>
			@{
				int counter = 1;
			}
			@foreach (Daidan.Web.Models.MonthSummaryByTruckViewModel.SummaryItem item in Model.SummaryItems)
			{
				<tr>
					<td>@counter.ToString()</td>
					<td>@item.Truck.Number</td>
					<td>@item.NofTrips.ToString()</td>
					<td>@item.Profit.ToString("0.00")</td>
					<td>@item.Expenses.ToString("0.00")</td>
					<td>
						@if(item.Result < 0)
						{
							<strong>@item.Result.ToString("0.00")</strong>
						}
						else
						{
							@item.Result.ToString("0.00")
						}
						
					</td>
				</tr>

				counter++;
			}
		</tbody>
	</table>
	<style type="text/css" media="print">
		.hide-print {
			display: none;
		}

		#resultTable {
			font-size: 0.7em;
		}

		.table-header-row {
			background-color: #EBEBEB;
			line-height: 20px;
			font-weight: bold;
		}

		.table-bordered tbody td{
			text-align: center;
		}
	</style>

</div>
<script type="text/javascript" src="~/Scripts/jquery.PrintArea.js_4.js"></script>
<script type="text/javascript">
	$(function () {
		$('#printButton').click(function () {
			$('.print-area').printArea();
		});
	});
</script>