@model Daidan.Web.Models.MonthSummaryByTruckViewModel
@{
	ViewBag.Title = "Month Summary - By Truck";
}

<style type="text/css">
	.table-header-row {
		background-color: #EBEBEB;
		height: 35px;
		font-weight: bold;
	}

	.table-bordered tbody td{
		text-align: center;
	}

	#summaryTable {
		font-size: 0.9em;
	}
</style>
<div class="print-area">
	<h2>@Model.Month.ToString("MMMM yyyy") Summary - By Truck</h2>
	<hr />
	<div class="row hide-print">
		<div class="col-lg-11">&nbsp;</div>
		<div class="col-lg-1">
			<button id="printButton" class="btn btn-default" style="margin: 0px 35px 10px 0px;">
				<i class="fa fa-print"></i>
				&nbsp;
				Print
			</button>
		</div>
	</div>

	<table border="1" class="table-responsive table-bordered" style="width: 100%;" id="summaryTable">
		<thead>
			<tr class="table-header-row">
				<th style="text-align: center;" width="30">&nbsp;</th>
				<th style="text-align: center;" width="85">Truck</th>
				<th style="text-align: center;" width="100">Nof. Trips</th>
				<th style="text-align: center;" width="100">Gross Profit</th>
				<th style="text-align: center;" width="100">Admin. Fees</th>
				<th style="text-align: center;" width="100">Expenses</th>
				<th style="text-align: center;" width="130">Driver(s) Salary</th>
				<th style="text-align: center;" width="100">Result</th>
			</tr>
		</thead>
		<tbody>
			@{
				int counter = 1;
			}
			@foreach (Daidan.Web.Models.MonthSummaryByTruckViewModel.SummaryItem item in Model.SummaryItems)
			{
				<tr>
					<td>@counter.ToString()</td>
					<td>
						@Html.ActionLink(item.Truck.Number, "TruckSheet", "Reports", new { month = Model.Month.Month, year = Model.Month.Year, truckId = item.Truck.Id }, new { target = "_blank" })
					</td>
					<td>@item.NofTrips.ToString()</td>
					<td>@item.GrossProfit.ToString("0.00")</td>
					<td>@item.AdminFees.ToString("0.00")</td>
					<td>@item.Expenses.ToString("0.00")</td>
					<td>@item.DriversSalary.ToString("0.00")</td>
					<td>
						<strong>@item.Result.ToString("0.00")</strong>
					</td>
				</tr>

						counter++;
			}

			<tr class="table-header-row">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>@Model.SummaryItems.Sum(x => x.NofTrips)</td>
				<td>@Model.SummaryItems.Sum(x => x.GrossProfit).ToString("0.00")</td>
				<td>@Model.SummaryItems.Sum(x => x.AdminFees).ToString("0.00")</td>
				<td>@Model.SummaryItems.Sum(x => x.Expenses).ToString("0.00")</td>
				<td>@Model.SummaryItems.Sum(x => x.DriversSalary).ToString("0.00")</td>
				<td>@Model.SummaryItems.Sum(x => x.Result).ToString("0.00")</td>
			</tr>
		</tbody>
	</table>
	<style type="text/css" media="print">
		.hide-print {
			display: none;
		}

		#summaryTable {
			font-size: 0.7em;
		}

		.table-header-row {
			background-color: #EBEBEB;
			line-height: 20px;
			font-weight: bold;
		}

		.table-bordered tbody td{
			text-align: center;
		}
	</style>

</div>
<script type="text/javascript" src="~/Scripts/jquery.PrintArea.js_4.js"></script>
<script type="text/javascript">
	$(function () {
		$('#printButton').click(function () {
			$('.print-area').printArea();
		});
	});
</script>