<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Daidan Trips Tracking System</title>
    <link href="~/Content/css/Site.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" media="all" />
    

	<link href="~/Content/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/css/animate.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="~/Scripts/modernizr-2.6.2.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
	
	<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap-notify.min.js"></script>
	<script type="text/javascript" src="~/Scripts/moment.min.js"></script>
	<script type="text/javascript" src="~/Scripts/daidan-global.js?version=1.11"></script>
	<script type="text/javascript" src="~/Scripts/jspdf.min.js"></script>
</head>
<body>
    @if (@Request.IsAuthenticated)
	{
		Html.RenderPartial("_NavigationBar");
	}

	@if (TempData["message"] != null)
	{
		<div class="alert @TempData["message-class"]" style="width: 40%; margin: 6px auto; text-align:center;">@TempData["message"]</div>
	}

	<div class="container body-content fill">
		@RenderBody()
	</div>
</body>
</html>