@model Daidan.Entities.SystemAdmin
@{
    ViewBag.Title = "Edit System Admin";
}
<style type="text/css">
	div.row {
		margin: 5px;
	}
</style>
<div class="panel panel-default" style="width: 45%; margin: 20px auto;">
	<div class="panel-heading">
		@if (Model.Id > 0)
		{
			<h4>Edit System Admin</h4>
		}
		else
		{
			<h4>Add System Admin</h4>
		}
	</div>

	@using (Html.BeginForm("EditSystemAdmin", "Lookups", FormMethod.Post, new { role = "form" }))
	{
		<div class="panel-body">
			@Html.ValidationSummary(true)
			<div class="row">
				<div class="col-lg-3">
					<label>Name</label>
				</div>
				<div class="col-lg-9">
					@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
					@Html.ValidationMessageFor(x => x.Name)
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<label>Email</label>
				</div>
				<div class="col-lg-9">
					@Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email" })
					@Html.ValidationMessageFor(x => x.Email)
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<label>Password</label>
				</div>
				<div class="col-lg-9">
					@Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
					@Html.ValidationMessageFor(x => x.Password)
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<label>Role</label>
				</div>
				<div class="col-lg-9">
					@Html.DropDownListFor(x => x.Role,
					@Daidan.Web.Helpers.DaidanControllersHelper.RolesListToSelectitems(Model.Role), new { @class = "form-control" })
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">&nbsp;</div>
				<div class="col-lg-9">
					<label>
						@Html.CheckBoxFor(x => x.IsActive)
						Is Active
					</label>
				</div>
			</div>

			@Html.HiddenFor(x => x.Id)

		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-lg-10">&nbsp;</div>
				<div class="col-lg-2">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</div>
		</div>
	}
</div>