@model IList<Daidan.Entities.Driver>

@{
    ViewBag.Title = "Drivers List";
}

<h2><i class="fa fa-user"></i> List of Drivers</h2>

<div class="row">
	<div class="col-lg-10">&nbsp;</div>
	<div class="col-lg-2">
		@Html.ActionLink("+ Add Driver", "CreateDriver", "Lookups", null, new { @class = "btn btn-default", role = "button", style = "float: right;" })
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Is Outsourced</th>
			<th>Is Active</th>
			<th></th>
		</tr>
	</thead>
	@foreach (Daidan.Entities.Driver driver in Model)
	{
		<tr>
			<td>
				@Html.ActionLink(driver.Name, "EditDriver", new { driver.Id })
			</td>
			<td>@driver.IsOutsourced</td>
			<td>@driver.IsActive</td>
			<td>
				@using (@Html.BeginForm("DeleteDriver", "Lookups"))
				{
					@Html.Hidden("driverId", driver.Id)
					<input type="image" src="/Content/images/delete.png"
						   onclick="return confirm('Are you sure?')" />
				}
			</td>
		</tr>
	}

</table>

